<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impact</title>
</head>
<body>
Under Construction

</body>
</html>

<form action="/action_page.php">
  <label for="tree">Tree</label><br>
  <input type="text" id="tree" name="tree" ><br>
  <label for="diameter">Length of Diameter (inches) :</label><br>
  <input type="text" id="diameter" name="diameter" ><br><br>
  <input type="submit" value="Submit">
</form>
<form action="/action_page.php" target="_blank">